<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{registro.form.titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-dark text-white text-center py-3">
    <h1 th:text="#{registro.form.titulo}"></h1>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/orden}">Órdenes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/producto}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/orden-producto}">Orden Productos</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container my-4">
    <form th:action="@{/registro}" th:object="${usuario}" method="post">
        <div class="form-group">
            <label th:text="#{form.nombre}"></label>
            <input type="text" th:field="*{nombre}" class="form-control" />
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>
        <div class="form-group">
            <label th:text="#{form.apellido}">Apellido</label>
            <input type="text" th:field="*{apellido}" class="form-control" />
            <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
        </div>
        <div class="form-group">
            <label th:text="#{form.email}">Correo Electrónico</label>
            <input type="email" th:field="*{email}" class="form-control" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <!--div class="form-group">
            <label>Contraseña</label>
            <input type="password" th:field="*{contrasena}" class="form-control" />
        </div-->
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 DWF404</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
